.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

.blob {
    background-color: white;
    height: 300px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(249, 14, 232, 1) 0%, rgba(5, 149, 179, 1) 100%);
    overflow: hidden;
    animation: rotate 5s infinite;
    filter: blur(80px);
}

.login {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    height: 80vh;
    width: 30vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.login h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.inputBox {
  position: relative;
  width:250px;
}

.inputBox input {
    width: 100%;
    padding: 15px;
    border:2px solid white;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color:black;
    font-size: 1.2em;
    
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 15px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.5s ease;
    letter-spacing: 0.2rem;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color:white;
    transform: translateY(-7px) translateX(10px);
    font-size: 0.65em;
    padding : 0 10px;
    background: black;
    border-left: 5px solid white;
    letter-spacing: 0.2rem;
}


.sumbitBtn{
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,14,232,1) 0%, rgba(5,149,179,1) 100%); */
    background: white ;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.icon{
    position: absolute;
    transform: translateX(-420%);
    right: 20px;
    color: white;
    font-size: 1.5rem;
    
}
@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        
    }

    50% {
        scale: 1 1.2;
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}