.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

.blob {
    background-color: white;
    height: 300px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(249, 14, 232, 1) 0%, rgba(5, 149, 179, 1) 100%);
    overflow: hidden;
    animation: rotate 5s infinite;
    filter: blur(80px);
}

.login {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    height: 80vh;
    width: 30vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.login h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.inputBox {
   position: relative;
   width: 100%;
   padding : 15px 20px;
   outline: none;
   font-size: 1.25rem;
   color: white;
   border-radius: 5px;
   background: white;
   border:none;
   margin-bottom: 20px;
}

.sumbitBtn{
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,14,232,1) 0%, rgba(5,149,179,1) 100%); */
    background:  rgba(249,14,232,0.8) ;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon{
    position: absolute;
    /* top: 50%; */
    transform: translateX(-420%);
    right: 20px;
    color: black;
    font-size: 1.25rem;
}
@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        
    }

    50% {
        scale: 1 1.2;
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}